<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Spicy Bites</title>
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
    />
    <link rel='stylesheet' type='text/css' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    <header>
      <h1 class='text-center page-title'>Spicy Bites!</h1>
    </header>

    <!-- If the user is logged in, show a logout and home button -->
    {{#if loggedIn}}
      <nav>
        <a href='/homepage'>Home</a>
        {{! <a href='/'>View Recipes by Category</a>
        <a href='/'>Create a post</a>         }}
        <a href='/dashboard'>Dashboard</a>
        <a href='/login'>Logout</a>
      </nav>
    {{/if}}

    <main>
      <aside>
        {{#unless loggedIn}}
          <h2 class='text-center page-subtitle'>be ready to devour these recipes</h2>
        {{/unless}}
      </aside>
      <div>
        {{{body}}}
      </div>
    </main>

    <!-- If the user is logged in, load the JS script for when they logout -->
    {{!-- {{#if loggedIn}} --}}
    <script src='/js/logout.js'></script>
    {{!-- {{/if}} --}}
  </body>
</html>