<div>Welcome, {{req.session.username}}!</div>

<section>
  <h2>Create New Post</h2>

  <form class='new-post-form'>
    <div>
      <label for='recipe-name'>Your Recipe Title</label>
      <textarea type='text' name='recipe-name' /></textarea>
    </div>

    <div>
      <label for='recipe-body'>Recipe Instructions</label>
      <textarea class='comment-body' name='recipe-body'></textarea>
    </div>

    <div>
      <label for='recipe-image'>Add Recipe Photo</label>
      <input type="file" id="myFile" name="filename">
    </div>

    <button type='submit' class='commentBtn'>Create Recipe</button>
  </form>
</section>

{{!-- {{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
    <ol>
      {{#each posts as |post|}}
        <li>
          {{> post-info post}}
          <a href='/dashboard/edit/{{post.id}}' class='edit-link'>Edit post</a>
        </li>
      {{/each}}
    </ol>
  </section>
{{/if}} --}}

<script src='/js/add-post.js'></script>