<a href='/dashboard' class='bcktodash'> &larr; Back to dashboard</a>
<article class='dashboardPage'>  
  <h2>
    Edit Post
  </h2>
  <form class='edit-post-form'>
    <input type='hidden' name='post-id' value='{{post.id}}' />
    <div>
      <label for='recipe-name'>Your recipe title:</label>
      <input
        name='edit-recipe-name'
        type='text'
        class='recipe-form'
        id='edit-recipe-name'
        value='{{post.recipe_name}}'
      />
    </div>
    <div>
       <label for='recipe-name'>Instructions:</label>
      <textarea
        name='edit-recipe-body'
        type='text'
        class='textarea-body'
        id='edit-recipe-body'
        value='{{post.recipe_body}}'
      /></textarea>
    </div>

    <button class='btn' type='submit'>Save Post</button>
    <button type='button' class='delete-post-btn btn'>Delete Post</button>
  </form>
</article>

<script src='/js/edit-post.js'></script>
<script src='/js/delete-post.js'></script>