:root {
  --primary: #BD1922;
  --secondary: #19BEB5;
  --tertiary: #E89005;
  --quatrinary: #1921BE;
  --light: #ffffff; 
  --dark: #031620; 
  --border-radius: 15px;
}

body {
  background-image: url("../images/main.jpg");
  background-size: cover;
}

.login-card {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--primary);
  color: var(--light);
}

.signup-card {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--primary);
  color: var(--light);
}

header h1 {
  font-size: 75px;
  color: var(--primary);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

aside h2 {
  font-size: 45px;
  color: var(--quatrinary);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin-bottom: 5%;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.form-group button{
  background-color: var(--quatrinary);
  color: var(--light);
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: var(--primary);
  margin-bottom: 45px;
}

nav a {
  color: var(--light);
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  border: none;
  align-items: center;
  padding: 30px;
}

.card-img {
  height: auto;
  width: 300px;
}

img {
  height: auto;
  width: 450px;
  border-radius: 10px;
}

.post-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post-list li{
  list-style-type: none;
}

.post {
  font-size: 20px;
  color: black;
}

.postTitle a {
  font-size: 25px;
  font-weight: bold;
  color: var(--primary);
}

.singlePost {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.singlePostTitle a {
  font-size: 35px;
  font-weight: bold;
  color: var(--primary);
}

.singlePostCreator {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.postBody {
  width: 90%;
  background-color: var(--tertiary);
  border-radius: 8px;
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 8px;
  margin: 5px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.comment-body {
  width: 50vw;
  border-color: var(--quatrinary);
  border-radius: 10px;
  margin: 4px;
}

.commentBtn {
  background-color: var(--quatrinary);
  color: var(--light);
  border-radius: 10px;
  padding: 5px 10px;
}

.comment {
  background-color: var(--tertiary);
  border-radius: 8px;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 5px;
  margin: 5px;
}